<div @fadeIn (click)="closeUserMenu()" class="bg-gradient-to-r from-default-from to-default-to px-6 pb-4 lg:px-8"
    style="height: calc(100% - 66px);">
    <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]"
        aria-hidden="true">
        <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
        </div>
    </div>
    <form [formGroup]="createForm" (ngSubmit)="onSubmit()" class="space-y-6 mx-auto max-w-6xl">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-textColorPrimary sm:text-4xl">Create a new item</h2>
        </div>
        <div class="grid grid-cols-3 gap-x-8 gap-y-6 sm:grid-cols-2 mt-10">
            <div *ngIf="!adminMode">
                <label for="name"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Name
                    *</label>
                <div class="mt-2 relative">
                    <input id="name" formControlName="name" type="text" required
                        class="block w-full rounded-lg border-0 py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover lg:text-lg lg:leading-6 bg-aliceblue">
                    <span *ngIf="name?.dirty || name?.touched" class="input-error absolute form-control-sm text-danger">
                        <span *ngIf="name?.hasError('required')">* Name is required</span>
                        <span *ngIf="name?.hasError('pattern')">* Only letters allowed</span>
                    </span>
                </div>
            </div>
            <div *ngIf="!adminMode" class="sm:col-span-2">
                <label for="email"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Email
                    *</label>
                <div class="mt-2 relative">
                    <input id="email" formControlName="email" type="email" required
                        class="block w-full rounded-lg border-0 py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover lg:text-lg lg:leading-6 bg-aliceblue">
                    <span *ngIf="email?.dirty || email?.touched"
                        class="input-error absolute form-control-sm text-danger">
                        <span *ngIf="email?.hasError('required')">* Email is required</span>
                        <span *ngIf="email?.hasError('pattern')">* Enter valid email (e.g.
                            example&#64;domain.com)</span>
                    </span>
                </div>
            </div>
            <div formGroupName="body" class="sm:col-span-3">
                <label for="command"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Command
                    *</label>
                <div class="mt-2 relative">
                    <input id="command" formControlName="command" type="text" required
                        class="block w-full rounded-lg border-0 py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover lg:text-lg lg:leading-6 bg-aliceblue">
                    <span *ngIf="command?.dirty || command?.touched"
                        class="input-error absolute form-control-sm text-danger">
                        <span *ngIf="command?.hasError('required')">* Command is required</span>
                    </span>
                    <span *ngIf="command?.value && (command?.dirty || command?.touched)"
                        class="input-error absolute form-control-sm text-success text-textColorVariable">
                        <span>* Use *VARIABLE* to mark a variable</span>
                    </span>
                </div>
            </div>
            <div formGroupName="body" class="sm:col-span-3">
                <label for="description"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Description
                    *</label>
                <div class="mt-2 relative">
                    <textarea id="description" formControlName="description" rows="4" required
                        class="block w-full rounded-lg border-0 py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover lg:text-lg lg:leading-6 bg-aliceblue"></textarea>
                    <span *ngIf="description?.dirty || description?.touched"
                        class="input-error absolute form-control-sm text-danger">
                        <span *ngIf="description?.hasError('required')">* Description is
                            required</span>
                    </span>
                    <span *ngIf="description?.value && (description?.dirty || description?.touched)"
                        class="input-error absolute form-control-sm text-success text-textColorVariable">
                        <span>* Use *VARIABLE* to mark a variable</span>
                    </span>
                </div>
            </div>
            <div formGroupName="body" [ngClass]="{'sm:col-span-1' : newCatSelected, 'sm:col-span-2' : !newCatSelected}">
                <label for="category"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">
                    Category *
                </label>
                <div class="mt-2 relative">
                    <select id="category" formControlName="category" required
                        class="block w-full rounded-lg border-0 py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 
                            placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accentColorHover lg:text-lg lg:leading-6 bg-aliceblue">
                        <option value="" disabled>Select a category</option>
                        <option value="bash">Bash</option>
                        <option value="cmd">CMD</option>
                        <option value="git">Git</option>
                        <option value="sql">SQL</option>
                        <option value="docker">Docker</option>
                        <option value="ng_setup">NG Setup</option>
                        <option value="ng_defaults">NG Defaults</option>
                        <option value="general">General</option>
                        <option value="new">New Category</option>
                    </select>
                    <span *ngIf="category?.dirty || category?.touched"
                        class="input-error absolute form-control-sm text-danger">
                        <span *ngIf="category?.hasError('required')">* category is required</span>
                    </span>
                </div>
            </div>
            <!-- <div *ngIf="!newType" formGroupName="body" class="sm:col-span-1">
                <label for="subType"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Sub
                    Type</label>
                <div class="mt-2 relative">
                    <input id="subType" formControlName="subType" type="text"
                        class="block w-full rounded-lg border-0 py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover lg:text-lg lg:leading-6 bg-aliceblue">
                </div>
            </div> -->
            <div *ngIf="newCatSelected" formGroupName="body" class="sm:col-span-1">
                <label for="newType"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">New
                    Type</label>
                <div class="mt-2 relative">
                    <input id="newType" formControlName="newType" type="text" required
                        class="block w-full rounded-lg border-0 py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover lg:text-lg lg:leading-6 bg-aliceblue">
                </div>
            </div>
            <div formGroupName="body" class="sm:col-span-1">
                <label for="param"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Parameter</label>
                <div class="mt-2 relative">
                    <input id="param" formControlName="param" type="text"
                        class="block w-full rounded-lg border-0 py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover lg:text-lg lg:leading-6 bg-aliceblue">
                </div>
            </div>
            <div formGroupName="body" class="sm:col-span-3">
                <label for="example"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Example</label>
                <div class="mt-2 relative">
                    <input id="example" formControlName="example" type="text"
                        class="block w-full rounded-lg border-0 py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover lg:text-lg lg:leading-6 bg-aliceblue">
                </div>
            </div>
            <div *ngIf="!adminMode" class="sm:col-span-3">
                <label for="message"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Additional
                    Message</label>
                <div class="mt-2 relative">
                    <textarea formControlName="message" id="message" rows="4"
                        class="block w-full rounded-lg py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 
                            focus:ring-inset focus:ring-accentColorHover lg:text-lg lg:leading-6 bg-aliceblue"></textarea>
                </div>
            </div>
        </div>
        <div class="mt-20">
            <button type="submit" [disabled]="createForm.invalid || loading"
                class="submit-btn flex w-full justify-center rounded-lg bg-accentColor px-3 py-4 text-lg font-semibold 
                leading-6 text-white shadow-lg hover:bg-accentColorHover focus:outline-none focus-visible:ring-2 
                focus-visible:ring-offset-2 focus-visible:ring-accentColor disabled:opacity-60 disabled:hover:bg-accentColor">
                <span *ngIf="!loading">Submit</span>
                <div *ngIf="loading" class="spinner"></div>
            </button>
        </div>
    </form>
</div>