<div @fadeIn class="z-20 relative flex h-page text-md sm:text-lg md:text-lg lg:text-lg font-medium text-textColorSecondary gap-7">
    <button (click)="selectLayout('command')" 
        class="layout-btn flex-1 justify-center itemss-center rounded-lg bg-gradient-to-tr from-nav-from to-command-layout-to ml-7 text-4xl font-semibold 
            leading-6 text-white shadow-lg hover:bg-gradientHover focus:outline-none focus-visible:ring-2 
            focus-visible:ring-offset-2 focus-visible:ring-accentColor disabled:opacity-60 disabled:hover:bg-accentColor hover:bg-blend-lighten">
        <span>Commands</span>
    </button>
    <button (click)="selectLayout('routine')" 
        class="layout-btn flex-1 justify-center itemss-center rounded-lg bg-gradient-to-tr from-routine-layout-from to-routine-layout-to mr-7 text-4xl font-semibold 
            leading-6 text-white shadow-lg hover:bg-gradientHover focus:outline-none focus-visible:ring-2 
            focus-visible:ring-offset-2 focus-visible:ring-accentColor disabled:opacity-60 disabled:hover:bg-accentColor hover:bg-blend-lighten">
        <span>Routines</span>
    </button>
    <!-- <button (click)="selectLayout('routine')" 
        class="layout-btn flex-1 justify-center itemss-center rounded-lg bg-accentColor mr-7 text-lg font-semibold 
            leading-6 text-white shadow-lg hover:bg-accentColorHover focus:outline-none focus-visible:ring-2 
            focus-visible:ring-offset-2 focus-visible:ring-accentColor disabled:opacity-60 disabled:hover:bg-accentColor">
        <span>Routines</span>
    </button> -->
</div>