<p class="text-md sm:text-lg md:text-lg lg:text-lg font-medium text-textColorSecondary">
    Tomcat 

    - go to opt/anvaris/ 
    - exchange anvaris.war 
    - systemctl restart tomcat (restart tomcat server) 
    - systemctl status tomcat (tomcat status) 
    
    <!-- Docker 

    - cd docker/ (locate to docker folder) 
    - docker build --tag {container}:{version} --file ./dockerconfig/{dockerfile} . 
        xmpl: docker build --tag anvaris:1.0 --file ./dockerconfig/Dockerfile_tomcat . 
        xmpl: docker build --tag database --file ./dockerconfig/Dockerfile_db . 
        (build docker image, to be done multiple times for each container, :{version} not neccessary) - docker image list (see all images/versions) 
    - docker volume create dbdata (create db connection) 
    - vim compose.yaml (check correct images, update version) 
    - systemctl disable --now {service} (close running {service}, disable autostart) 
        xmpl: systemctl disable --now tomcat 
        xmpl: systemctl disable --now postgresql-12 
        xmpl: systemctl disable --now postfix 
    - docker compose up -d (create docker environment) 
    - docker logs --follow {container} (get logs from the running container/app) 
        xmpl: docker logs --follow anvaris 
    - docker exec -it {containerId} bash (go into {containerId} bash)
    - docker rmi {imageId} -f (remove image with {imageId} force) 
    - docker ps -a (show all containers, including unused) 
    
    Portainer 

    - go to environments 
    - click add environment 
    - select docker standalone 
    - click start wizard 
    - copy

    command for server os 

    - run command on server 
    - enter name and environment address 
    - click connect
    - docker run -d \ -p 8000:8000 \ -p 9443:9443 \ --name=portainer \ --restart=always \ -v
        /var/run/docker.sock:/var/run/docker.sock \ -v ~/docker/portainer:/data \ portainer/portainer-ce:latest \ --ssl \
        --sslcert /certs/ssl.crt \ --sslkey /certs/ssl.key (add certificate portainer NOT WORKING atm) 
    - docker run -d \ -p 9001:9001 \ --name portainer_agent \ --restart=always \ -v /var/run/docker.sock:/var/run/docker.sock \ -v
        /var/lib/docker/volumes:/var/lib/docker/volumes \ portainer/agent:latest (add environment to portainer console)
    
    data-transfer between servers (mobaxterm) 

    - scp -r ./{dir} root@{ip}:/root/ (copy {dir} to root of server {ip})
        xmpl: scp -r ./docker root@192.168.2.89:/root/ SystemCTL 
    - systemctl status {name}* (search anything with {name} inside) 
    - systemctl start docker (maybe needed to enable docker) 
    
    MSQL 
    
    - EXEC sp_rename 'dbo.os_outsourcing.optimisation', 'optimization', 'COLUMN'; (change column name) 
    - ALTER TABLE dbo.us_user ADD country VARCHAR(255); (add column) 
    - UPDATE dbo.us_role SET description = comment; (copy data to another column)
    
    PSQL 
    
    - ALTER TABLE us_user ADD COLUMN building VARCHAR(255); (add column) INSERT INTO us_user_settings (user_id,
        version, data, status, active, start_date, end_date, createdBy, updatedBy) SELECT id AS user_id, 0, NULL, NULL,
        true, start_date, end_date, createdBy, updatedBy FROM us_user; UPDATE u SET u.settings = s.id
        FROM us_user u JOIN us_user_settings s ON s.createdBy = u.createdBy; UPDATE ara_asset (alle Einträge aus Tabelle bei
        Column eintragen) SET type = 'Application' WHERE ---Bedingung---; 
        
    Other 
    
    - history | less (show last commands used) 
    - sed -i 's/old-text/new-text/' server.xml (change words/lines in file)

    ngStyle: [ngStyle]="{'margin-right': enableSettings ? '-5.125rem' : '-7rem'}" 
    
    ngClass: [ngClass]="{'accordion-not-collapsed': !merInfoCollapsed}" [ngClass]="{'submit-btn-danger': primaryBtnName ===
        'Delete', 'submit-btn-default': primaryBtnName === 'Exit', 'submit-btn-colored': primaryBtnName !== 'Delete' &&
        primaryBtnName !== 'Exit'}" 
    
    scss if else: @mixin progressConnector($root, $st, $nd, $rd, $end) { margin-top: 1px;
        @if $root == $st { margin-bottom: $end; } @else if $root == $nd { margin-bottom: $end; } @else if $root == $rd {
        margin-bottom: $end; } } .sd-progress-buttons__connector  background-color: rgb(var(--root-accent-color))
        !important; bottom: calc(1.68*(var(--sjs-base-unit, var(--base-unit, .65rem)))) !important; @include
        progressConnector(var(--root-font-size), 12px, 14px, 16px, 0);  -->
</p>