<div @fadeIn (click)="closeUserMenu()" class="z-20 relative bg-gradient-to-r px-6 pb-4 lg:px-8" [ngClass]="{'from-command-prim-from to-command-prim-to' : navService.activeLayout === 'command', 
    'from-routine-prim-from to-routine-prim-to' : navService.activeLayout === 'routine'}"
    style="height: calc(100% - 66px);">
    <form *ngIf="navService.activeLayout === 'command'" [formGroup]="createForm" (ngSubmit)="onSubmitCommand()"
        class="space-y-6 mx-auto max-w-6xl">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-textColorPrimary sm:text-4xl">Suggest a new item</h2>
        </div>
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2 mt-10">
            <div formGroupName="body" class="sm:col-span-3">
                <label for="command"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Command
                    *</label>
                <div class="mt-2 relative">
                    <input #commandInput id="command" formControlName="command" type="text" spellcheck="false" required
                        (keydown)="checkInput(commandInput)"
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                    <span *ngIf="hasInput(command)"
                        class="input-error absolute form-control-sm text-danger font-medium">
                        <span *ngIf="command?.hasError('required')">* Command is required</span>
                    </span>
                    <span *ngIf="commandTyped"
                        class="input-error absolute form-control-sm text-success text-textColorVariable font-normal">
                        <span>* Use *VARIABLE* to mark a variable</span>
                    </span>
                </div>
            </div>
            <div formGroupName="body" class="sm:col-span-3">
                <label for="description"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Description
                    *</label>
                <div class="mt-2 relative">
                    <textarea #descriptionInput id="description" formControlName="description" rows="3"
                        spellcheck="false" required (keydown)="checkInput(descriptionInput)"
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue"></textarea>
                    <span *ngIf="hasInput(description)"
                        class="input-error absolute form-control-sm text-danger font-medium">
                        <span *ngIf="description?.hasError('required')">* Description is
                            required</span>
                    </span>
                    <span *ngIf="descriptionTyped"
                        class="input-error absolute form-control-sm text-success text-textColorVariable font-normal">
                        <span>* Use *VARIABLE* to mark a variable</span>
                    </span>
                </div>
            </div>
            <div formGroupName="body" [ngClass]="{'sm:col-span-1' : newCatSelected, 'sm:col-span-3' : !newCatSelected}">
                <label for="category"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">
                    Category *
                </label>
                <div class="mt-2 relative">
                    <select id="category" formControlName="category" required
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 
                            placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                        <ng-container *ngIf="categories$ | async as categories">
                            <ng-container *ngFor="let cat of categories">
                                <option [value]="cat.title">{{ cat.title }}</option>
                            </ng-container>
                        </ng-container>
                        <option value="new">New category +</option>
                    </select>
                    <span *ngIf="hasInput(category)"
                        class="input-error absolute form-control-sm text-danger font-medium">
                        <span *ngIf="category?.hasError('required')">* Category is required</span>
                    </span>
                </div>
            </div>
            <div *ngIf="newCatSelected" formGroupName="body" class="sm:col-span-2">
                <label for="newCategory"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">New
                    Category</label>
                <div class="mt-2 relative">
                    <input id="newCategory" formControlName="newCategory" type="text" spellcheck="false" required
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                </div>
            </div>
            <div *ngIf="hasInput(category)" formGroupName="body"
                [ngClass]="{'sm:col-span-1' : newSubCatSelected, 'sm:col-span-3' : !newSubCatSelected}">
                <label for="subCategory"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Sub
                    Category</label>
                <div class="mt-2 relative">
                    <select id="subCategory" formControlName="subCategory" required
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 
                            placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                        <ng-container *ngIf="getSubCategories() | async as subCategories">
                            <ng-container *ngFor="let subCat of subCategories">
                                <option [value]="subCat.title">{{ subCat.title }}</option>
                            </ng-container>
                        </ng-container>
                        <option value="new">New sub category +</option>
                    </select>
                    <span *ngIf="hasInput(category)"
                        class="input-error absolute form-control-sm text-danger font-medium">
                        <span *ngIf="category?.hasError('required')">* Category is required</span>
                    </span>
                </div>
            </div>
            <div *ngIf="newSubCatSelected" formGroupName="body" class="sm:col-span-2">
                <label for="newSubCategory"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">
                    New Sub Category</label>
                <div class="mt-2 relative">
                    <input id="newSubCategory" formControlName="newSubCategory" type="text" spellcheck="false" required
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                </div>
            </div>
            <div formGroupName="body" class="sm:col-span-3">
                <label for="example"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Example</label>
                <div class="mt-2 relative">
                    <input id="example" formControlName="example" type="text" spellcheck="false"
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                </div>
            </div>
            <div formGroupName="body" class="sm:col-span-3">
                <label for="tooltip"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Tooltip</label>
                <div class="mt-2 relative">
                    <input id="tooltip" formControlName="tooltip" type="text" spellcheck="false"
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                </div>
            </div>
            <div class="w-full sm:col-span-3 border-b-2 border-borderColorLight"></div>
            <div>
                <label for="name"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Name
                    *</label>
                <div class="mt-2 relative">
                    <input id="name" formControlName="name" type="text" spellcheck="false" required
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                    <span *ngIf="hasInput(name)" class="input-error absolute form-control-sm text-danger font-medium">
                        <span *ngIf="name?.hasError('required')">* Name is required</span>
                        <span *ngIf="name?.hasError('pattern')">* Only letters allowed</span>
                    </span>
                </div>
            </div>
            <div class="sm:col-span-2">
                <label for="email"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Email
                    *</label>
                <div class="mt-2 relative">
                    <input id="email" formControlName="email" type="email" spellcheck="false" required
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                    <span *ngIf="hasInput(email)" class="input-error absolute form-control-sm text-danger font-medium">
                        <span *ngIf="email?.hasError('required')">* Email is required</span>
                        <span *ngIf="email?.hasError('pattern')">* Enter valid email (e.g.
                            example&#64;domain.com)</span>
                    </span>
                </div>
            </div>
            <div class="sm:col-span-3">
                <label for="message"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Additional
                    Message</label>
                <div class="mt-2 relative">
                    <textarea formControlName="message" id="message" rows="3" spellcheck="false"
                        class="block w-full rounded-lg py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 
                            focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue"></textarea>
                </div>
            </div>
        </div>
        <div class="mt-20">
            <button *ngIf="createForm" type="submit" [disabled]="createForm.invalid || loading"
                class="submit-btn flex w-full justify-center rounded-lg bg-accentColor px-3 py-4 text-lg font-semibold 
                leading-6 text-white shadow-lg hover:bg-accentColorHover focus:outline-none focus-visible:ring-2 
                focus-visible:ring-offset-2 focus-visible:ring-accentColor disabled:opacity-60 disabled:hover:bg-accentColor">
                <span *ngIf="!loading">Submit</span>
                <div *ngIf="loading" class="spinner"></div>
            </button>
        </div>
    </form>
    <form *ngIf="navService.activeLayout === 'routine'" [formGroup]="createForm" (ngSubmit)="onSubmitRoutine()"
        class="space-y-6 mx-auto max-w-6xl">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-textColorPrimary sm:text-4xl">Suggest a new item</h2>
        </div>
        <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2 mt-10">
            <div formGroupName="body" class="sm:col-span-3">
                <label for="title"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Title
                    *</label>
                <div class="mt-2 relative">
                    <input id="title" formControlName="title" type="text" spellcheck="false" required
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                    <span *ngIf="hasInput(title)" class="input-error absolute form-control-sm text-danger font-medium">
                        <span *ngIf="title?.hasError('required')">* Title is required</span>
                    </span>
                </div>
            </div>
            <div formGroupName="body" class="sm:col-span-3">
                <label for="routine"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Routine
                    *</label>
                <div class="mt-2 relative">
                    <div #routineInput id="routine" formControlName="routine" spellcheck="false" (input)="checkInput(routineInput)"
                        contentEditable required class="block w-full min-h-48 rounded-lg border-0 py-2 sm:py-2.5 px-3 text-gray-900 shadow-lg ring-1 ring-inset 
                            ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg 
                            leading-5 sm:leading-6 bg-aliceblue outline-none"></div>
                    <span *ngIf="hasInput(routine)"
                        class="input-error absolute form-control-sm text-danger font-medium">
                        <span *ngIf="routine?.hasError('required')">* Routine is required</span>
                    </span>
                    <span *ngIf="routineTyped"
                        class="input-error absolute form-control-sm text-success text-textColorVariable font-normal">
                        <span>* Use *VARIABLE* to mark a variable</span>
                        <span>* Use *C*COMMAND*C* to mark a command</span>
                    </span>
                </div>
            </div>
            <div formGroupName="body" [ngClass]="{'sm:col-span-1' : newCatSelected, 'sm:col-span-3' : !newCatSelected}">
                <label for="category"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">
                    Category *
                </label>
                <div class="mt-2 relative">
                    <select id="category" formControlName="category" required
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 
                            placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                        <ng-container *ngIf="categories$ | async as categories">
                            <ng-container *ngFor="let cat of categories | filter: navService.activeLayout">
                                <option [value]="cat.title">{{ cat.title }}</option>
                            </ng-container>
                        </ng-container>
                        <option value="new">New category +</option>
                    </select>
                    <span *ngIf="hasInput(category)"
                        class="input-error absolute form-control-sm text-danger font-medium">
                        <span *ngIf="category?.hasError('required')">* Category is required</span>
                    </span>
                </div>
            </div>
            <div *ngIf="newCatSelected" formGroupName="body" class="sm:col-span-2">
                <label for="newCategory"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">New
                    Category</label>
                <div class="mt-2 relative">
                    <input id="newCategory" formControlName="newCategory" type="text" spellcheck="false" required
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                </div>
            </div>
            <div *ngIf="hasInput(category)" formGroupName="body"
                [ngClass]="{'sm:col-span-1' : newSubCatSelected, 'sm:col-span-3' : !newSubCatSelected}">
                <label for="subCategory"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Sub
                    Category</label>
                <div class="mt-2 relative">
                    <select id="subCategory" formControlName="subCategory" required
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 
                            placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                        <ng-container *ngIf="getSubCategories() | async as subCategories">
                            <ng-container *ngFor="let subCat of subCategories">
                                <option [value]="subCat.title">{{ subCat.title }}</option>
                            </ng-container>
                        </ng-container>
                        <option value="new">New sub category +</option>
                    </select>
                    <span *ngIf="hasInput(category)"
                        class="input-error absolute form-control-sm text-danger font-medium">
                        <span *ngIf="category?.hasError('required')">* Category is required</span>
                    </span>
                </div>
            </div>
            <div *ngIf="newSubCatSelected" formGroupName="body" class="sm:col-span-2">
                <label for="newSubCategory"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">
                    New Sub Category</label>
                <div class="mt-2 relative">
                    <input id="newSubCategory" formControlName="newSubCategory" type="text" spellcheck="false" required
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                </div>
            </div>
            <div class="w-full sm:col-span-3 border-b-2 border-borderColorLight"></div>
            <div>
                <label for="name"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Name
                    *</label>
                <div class="mt-2 relative">
                    <input id="name" formControlName="name" type="text" spellcheck="false" required
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                    <span *ngIf="hasInput(name)" class="input-error absolute form-control-sm text-danger font-medium">
                        <span *ngIf="name?.hasError('required')">* Name is required</span>
                        <span *ngIf="name?.hasError('pattern')">* Only letters allowed</span>
                    </span>
                </div>
            </div>
            <div class="sm:col-span-2">
                <label for="email"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Email
                    *</label>
                <div class="mt-2 relative">
                    <input id="email" formControlName="email" type="email" spellcheck="false" required
                        class="block w-full rounded-lg border-0 py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 
                            focus:ring-2 focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue">
                    <span *ngIf="hasInput(email)" class="input-error absolute form-control-sm text-danger font-medium">
                        <span *ngIf="email?.hasError('required')">* Email is required</span>
                        <span *ngIf="email?.hasError('pattern')">* Enter valid email (e.g.
                            example&#64;domain.com)</span>
                    </span>
                </div>
            </div>
            <div class="sm:col-span-3">
                <label for="message"
                    class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorPrimary">Additional
                    Message</label>
                <div class="mt-2 relative">
                    <textarea formControlName="message" id="message" rows="3" spellcheck="false"
                        class="block w-full rounded-lg py-2 sm:py-2.5 text-gray-900 shadow-lg ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 
                            focus:ring-inset focus:ring-accentColorHover text-md sm:text-lg leading-5 sm:leading-6 bg-aliceblue"></textarea>
                </div>
            </div>
        </div>
        <div class="mt-20">
            <button *ngIf="createForm" type="submit" [disabled]="createForm.invalid || loading"
                class="submit-btn flex w-full justify-center rounded-lg bg-accentColor px-3 py-4 text-lg font-semibold 
                leading-6 text-white shadow-lg hover:bg-accentColorHover focus:outline-none focus-visible:ring-2 
                focus-visible:ring-offset-2 focus-visible:ring-accentColor disabled:opacity-60 disabled:hover:bg-accentColor">
                <span *ngIf="!loading">Submit</span>
                <div *ngIf="loading" class="spinner"></div>
            </button>
        </div>
    </form>
</div>