<div @fadeIn class="bg-gradient-to-r from-default-from to-default-to px-14 py-8">
    <div class="space-y-6 mx-auto max-w-xl">
        <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-textColorPrimary sm:text-4xl">Imprint</h2>
        </div>
        <p
            class="block text-md sm:text-lg md:text-lg lg:text-lg font-medium leading-6 text-textColorSecondary text-center !mt-10">
            <b class="text-textColorPrimary">Responsible Instance:</b><br>
            Tim Voigt<br>
            Bogenackerstr. 24<br>
            8632 Tann<br>
            Switzerland<br><br>
            <strong class="text-textColorPrimary">E-Mail</strong>:<br>
            <a href="mailto:mail@timvoigt.ch" target="_blank" class="text-center hover:text-accentColorHover">
                mail&#64;timvoigt.ch
            </a>
        </p>
    </div>
</div>