@use "assets/scss/form.scss";
@use 'assets/scss/keyframes.scss';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
    height: 100%;
    background-color: rgb(29, 29, 29);
}

.default-transition {
    transition: all 205ms ease-in-out;
}

.fast-transition {
    transition: all 145ms ease-in-out;
}