@use "assets/scss/form.scss";
@use 'assets/scss/keyframes.scss';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
    height: 100%;
    background-color: rgb(29, 29, 29);
}

.default-transition {
    transition: all 125ms ease-in-out;
}

.fast-transition {
    transition: all 145ms ease-in-out;
}

.slow-transition {
    transition: --tw-gradient-from 0.5s ease-in-out,
        --tw-gradient-to 0.5s ease-in-out;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.25);
    border-top: 4px solid white;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    animation: spin 1s linear infinite;
    margin-top: -2px;
}

select::selection {
    background-color: black !important;
}