.success {
    background-color: #5ff182;
    color: #252525;
}

.error {
    background-color: #bb444e;
    color: #252525;
}

.info {
    background-color: #4af6f7;
    color: #252525;
}

.warning {
    background-color: #e69130;
    color: #252525;
}