<div class="flex flex-col text-md sm:text-lg md:text-lg lg:text-lg font-medium text-textColorSecondary">
    <ng-container *ngFor="let item of data || []; let i = index">
        <div class="w-100 flex items-center pl-14 pr-14 pt-0.5 pb-0.5 gap-14"
            [ngClass]="{'bg-tableBgSecondary' : i % 2 !== 0}">
            <div class="w-5/12 flex justify-start items-center gap-5">
                <div (click)="commandService.copy(item, i)"
                    class="h-6 w-6 flex justify-center items-center cursor-pointer rounded-full mr-2 fast-transition">
                    <div [ngClass]="{'clicked': commandService.activeItems[i]}"
                        class="flex justify-center items-center padding-extra rounded-full border-2 border-borderCopyIcon bg-bgCopyIcon 
                            hover:bg-white fast-transition">
                    </div>
                </div>
                <span [innerHTML]="item.command | variable"></span>
            </div>
            <!-- <div class="w-4/12 flex justify-start items-center">
                <span [innerHTML]="item.example | variable"></span>
            </div> -->
            <div class="w-7/12 flex justify-start items-center">
                <span [innerHTML]="'(' + (item.description | variable) + ')'"></span>
            </div>
        </div>
    </ng-container>
</div>