<div class="base-wrapper relative flex flex-col h-screen">
  <navbar [closeMenu]="closeMenu"></navbar>
  <div (click)="closeUserMenu()" class="z-0 relative flex flex-col flex-grow bg-command-prim-gradient pt-7 pb-7">
    <div class="z-10 absolute top-0 left-0 h-full w-full bg-routine-prim-gradient 
      transition-all duration-700 ease-in-out" [ngClass]="{'opacity-0' : navService.activeLayout === 'command'}">
    </div>
    <router-outlet></router-outlet>
  </div>
  <footer class="mt-auto"></footer>
</div>