.z-1000 {
    z-index: 1000;
}

.logo-text {
    font-family: "Changa";
    font-size: 1.75rem;
    margin-bottom: -0.25rem;
}

.add-btn {
    @media (max-width: 768px) {
        font-size: 1rem;
        padding: 0.375rem 0.75rem;
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}