<nav class="z-0 relative bg-routine-sec-gradient border-b-2 border-[#e3d9ffb8] slow-transition">
    <div class="z-10 absolute top-0 left-0 h-full w-full bg-command-sec-gradient
        transition-all duration-700 ease-in-out" [ngClass]="{'opacity-0' : navService.activeLayout === 'routine'}">
    </div>
    <div class="mx-auto max-w-8xl px-2 md:px-6 lg:px-8">
        <div class="z-20 relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center md:hidden">
                <!-- Mobile menu btn-->
                <button (click)="toggleMobileMenu()" type="button" class="relative inline-flex items-center justify-center rounded-md p-2 
                    text-[#f0f8ff] hover:bg-[#bad5ff70] hover:text-white" aria-controls="mobile-menu"
                    aria-expanded="false">
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <!-- Icon menu closed -->
                    <svg class="block h-7 w-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                    </svg>
                    <!-- Icon menu open -->
                    <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <div class="flex items-center w-full ml-12 pl-1 md:ml-0 md:pl-0">
                <div class="flex-shrink-0 mr-4">
                    <button (click)="navService.category(1)" class="flex items-center">
                        <span class="logo-text text-[#f0f8ff] cursor-pointer">
                            <span class="text-[#f0f8ff]">De</span>
                            <span class="text-[#32ff7c]">v</span>
                            <span class="text-[#f0f8ff]">Kno</span>
                            <span class="text-[#32ff7c]">w</span>
                            <span class="text-[#f0f8ff]">Ho</span>
                            <span class="text-[#32ff7c]">w</span>
                        </span>
                    </button>
                </div>

                <div class="relative flex-1 min-w-0">
                    @if (showLeftArrow()) {
                    <button (click)="scrollCategories(-200)"
                        class="absolute left-0 top-1/2 transform -translate-y-1/2 z-10 p-2 rounded-md text-gray-300 hover:bg-[#bad5ff70] hover:text-white cursor-pointer default-transition">
                        &#10094;
                    </button>
                    }

                    <div #categoryContainer class="flex overflow-x-auto no-scrollbar space-x-4 mx-7 min-w-0">
                        @for (cat of categories() | filter: navService.activeLayout; track cat.id) {
                        <a (click)="navService.category(cat.id)"
                            class="flex-shrink-0 rounded-md px-3 py-2 text-md font-medium text-gray-300 hover:bg-[#bad5ff70] hover:text-white cursor-pointer default-transition"
                            [ngClass]="{'bg-[#bad5ff70]': activeCategoryId() === cat.id && !dataService.searchQuery.trim()}"
                            [class.text-white]="activeCategoryId() === cat.id && !dataService.searchQuery.trim()">
                            {{ cat.title }}
                        </a>
                        }
                    </div>

                    @if (showRightArrow()) {
                    <button (click)="scrollCategories(200)"
                        class="absolute right-0 top-1/2 transform -translate-y-1/2 z-10 p-2 rounded-md text-gray-300 hover:bg-[#bad5ff70] hover:text-white cursor-pointer default-transition">
                        &#10095;
                    </button>
                    }
                </div>

                <div class="flex-shrink-0 w-64 ml-4 relative flex items-center h-10 !bg-[#d2eaff] rounded-lg">
                    <div class="absolute left-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-1125rem">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                        </svg>
                    </div>
                    <input [value]="dataService.searchQuery"
                        (input)="dataService.search($any($event.target).value)" type="text" spellcheck="false"
                        placeholder="{{ 'CATEGORY.SEARCH' | translate }}..."
                        class="pl-8 pr-8 w-full h-full rounded-lg !bg-[#d2eaff] text-gray-900 placeholder:text-gray-600 text-md leading-4 outline-hidden border-none" />
                    <div class="absolute right-2 cursor-pointer" (click)="cancelSearch()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-1125rem">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Mobile menu -->
    @if (mobileMenuOpen()) {
    <div class="md:hidden" id="mobile-menu">
        <div class="relative z-20 space-y-1 px-2 pb-3 pt-2">
            @for (cat of categories() | filter: navService.activeLayout; track cat.id) {
            <a (click)="navService.category(cat.id); closeMobileMenu()"
                class="block rounded-md px-3 py-2 text-base font-medium text-gray-300 hover:bg-[#bad5ff70] hover:text-white cursor-pointer"
                [ngClass]="{'bg-[#bad5ff70]' : activeCategoryId() === cat.id}"
                [class.text-white]="activeCategoryId() === cat.id">
                {{ cat.title }}</a>
            }
        </div>
    </div>
    }
</nav>