.z-1000 {
    z-index: 1000;
}

.logo-text {
    @media(max-width: 768px) {
        font-size: 1.4rem;
        margin-top: -0.125rem;
    }

    @media(max-width: 460px) {
        display: none;
    }
}

.add-btn {
    @media(max-width: 768px) {
        font-size: 1rem;
        padding: .375rem .75rem;
    }
}